{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Slider</h4>
                        <label for="amount">Servo</label>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <!-- <p class="card-category">24 Hours</p> -->
                    </div>
                    <div class="card-body ">
                        <div id="slider-range-max"></div>
                    </div>
                    <div class="card-footer ">
                        <hr />
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Data Sensor</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body ">
                        {% if all_sensors %}

                        <ul>
                            {%for s in all_sensors%}
                            <li>{{s.sensor_id}} : {{s.sensor_name}} -> {{s.sensor_value}}</li>
                            {% endfor %}

                        </ul>

                        {% else %}
                        <h3>data sensor is not exist</h3>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Received Data</h4>
                        <p class="card-category">Last 10 Data</p>
                    </div>
                    <div class="card-body ">
                        <div id="chart_line" class="ct-chart"></div>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Sensor1
                        </div>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}